<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
        <title>Home</title>
</head>
<body>
    {{>navbar}}

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores totam in expedita odit deleniti reiciendis modi iure, illo doloribus mollitia quaerat saepe voluptate molestias fugit optio itaque natus architecto distinctio error, necessitatibus cupiditate a! Quam excepturi illo cum ipsam accusantium a quibusdam eaque, repellendus nostrum impedit voluptatem atque consequatur maiores eos id itaque libero vero? Veritatis aliquid ex eveniet voluptas magni, provident ullam harum exercitationem corporis fugiat delectus modi laudantium vel qui illum cum, minus praesentium consectetur molestias. Expedita consectetur dolorem aliquam nulla doloribus reprehenderit illo eveniet necessitatibus saepe dolor numquam, rerum sed officiis minus odit quasi eaque repudiandae aliquid, ipsum molestias quod modi! Deleniti a recusandae iste voluptatum assumenda ipsum aut vitae eligendi iusto dolores velit cum tenetur accusantium eum sapiente in consequatur, non ab molestias ducimus quam? In voluptatem odit hic veniam recusandae distinctio modi dignissimos iusto sapiente minima rem aut dicta doloremque illum veritatis quasi repellendus, ut possimus autem consectetur cupiditate itaque maiores voluptas tenetur? Iure ipsam, repellat aperiam nobis animi temporibus hic consectetur deserunt accusantium sunt ab perspiciatis saepe, consequuntur veniam maiores ullam nesciunt ea officia illo voluptatibus, pariatur impedit voluptas nemo id. Non architecto dicta, laboriosam quaerat, repellendus mollitia vel tempore numquam praesentium exercitationem sapiente.
    {{>footer}}
</body>
</html>
<style>
    .iqralogo {
        width: 250px;
    }

    body {
         background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB-8d_DBHUY6lFoyjDu4SL3hO-UqdziMVYFA&s);
        background-repeat: no-repeat;
        background-size: 2800px;
    }

    .login-form {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        background-color: #f8f9fa;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .login-form-heading {
        background-color: #343a40;
        color: #ffffff;
        padding: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        margin-bottom: 30px;
    }

    .list-unstyled {
        font-size: small;
    }

    .nav-link {
        color: white;
    }

    .nav-link:hover {
        color: rgb(207, 207, 207);
    }

    .iqralogo {
        width: 250px;
    }
</style>